.animate-char {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 20px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.title__word {
    animation: color-animation 4s linear infinite;
}

.title__word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}

.title__word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

.title__word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

.title__word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

.title__word-5 {
    --color-2: #DF8453;
    --color-3: #3D8DAE;
    --color-1: #E4A9A8;
}

.title__word-6 {
    --color-1: #ACCFCB;
    --color-2: #DBAD4A;
    --color-3: #E4A9A8;
}

.title__word-7 {
    --color-1: #E4A9A8;
    --color-2: #17494D;
    --color-3: #ACCFCB;
}

@keyframes color-animation {
    0% {
        color: var(--color-1);
    }

    32% {
        color: var(--color-1);
    }

    33% {
        color: var(--color-2);
    }

    65% {
        color: var(--color-2);
    }

    66% {
        color: var(--color-3);
    }

    99% {
        color: var(--color-3);
    }

    100% {
        color: var(--color-1);
    }
}

.input-cursor {
    display: inline-block;
    width: 6px;
    height: 60px;
    background-color: #fff;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.login>.lab-btn {
    background: #db9e2d;
    outline: none;
    box-shadow: none;
    border: none;
}

.hire>.lab-btn:hover,
.login>.lab-btn:hover {
    background: #DF8453;
}

@media (min-width: 1200px) {
    .focus__header {
        padding-left: 230px !important;
        padding-right: 230px !important;
    }
}

.custom-f {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
}

.service__content p {
    -webkit-line-clamp: 100;
}

.project__desc {
    /* position: absolute; */
    color: #fff;
    font-family: 'Proxima Nova', sans-serif;
    /* left: 70px; */
}

.project__desc.h5 {
    background-color: #DF8453;
    border: 5px solid #DF8453;
    padding-left: 15px;
    font-weight: 700;
}

.webDev .lab-btn {
    background-color: transparent;
    color: #303030;
    border-radius: 4px;
    border: 3px solid #5E0623;
}

.webDev .lab-btn:hover {
    color: #fff;
    background-color: #5E0623;
}

.foot>a:hover {
    border-bottom: 2px solid #5E0623;
}

.terms__h {
    font-size: 13px;
}

.terms__p {
    font-size: 17px;
}